img {
    width: 32%;
    padding: 4px 0px 0px 1px;
    margin: 6px 0px 0px 10px;
}

i.file {
        scale: 5;
        margin: 42px;
            margin-left: 42px;
        margin-left: 58px;
}

button.comp {
    margin: -44px;
}

button.edit {
    margin-left: 10px;
    scale: 0.7;
}

#file-name-control{
    margin-top: 24px;
}

.fileName {
    display: inline;
}

#dragzone {
    scale: 1.8;
    margin-right:36px;
}

#folderbtn {
    margin-left: 15%;
    scale: 2;
}